BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> cd21c7a6af46

DROP TABLE "Checkin";

DROP TABLE "Senior";

DROP INDEX "ix_User_email";

DROP TABLE "User";

INSERT INTO alembic_version (version_num) VALUES ('cd21c7a6af46') RETURNING alembic_version.version_num;

-- Running upgrade cd21c7a6af46 -> e3a8e642efad

UPDATE alembic_version SET version_num='e3a8e642efad' WHERE alembic_version.version_num = 'cd21c7a6af46';

COMMIT;

